
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6, span, p {
    opacity: 0.75;
}

h1{
    font-size: 5rem;
    font-weight: bold;
}

h2{
    font-size: 3.5rem;
    font-weight: bold;
}

h3{
    font-size: 2.5rem;
}

p{
    font-size: 1.25rem;
}

nav a{
    color: black;
}

.desktop_nav {
    font-size: 1.5rem;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.sixty{
    width: 60%;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 0.75rem;
    margin-bottom: 2rem;

}

.forty{
    width: 40%;
    margin-top: 2rem;
    margin-left: 0.75rem;
    margin-bottom: 2rem;
}


h2{
    margin-top: 2rem;
}

p{
    margin-top: 1.5rem;
}

.headline{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;    
    z-index: 1;
}

.logo{
    margin-left: 1.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

nav{
    margin-right: 1.5rem;
}

nav a{
    padding: 0.5rem;
    margin-left: 1rem;
    background-color: #eaece5;
    border-radius: 0.8;
    transition: all 0.5s;
}

nav a:hover{
    background-color: #3b3a30;
    color: white;
}

.mobile_nav{
    display: none;
}

.offset{
    position: relative;
    top: 4rem;
}

.banner{
    background-color: #3b3a30;
}

.container{
    display: flex;
}

img{
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}


.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.slogan *{
    width: 75%;
    margin: 2rem auto;
}

.btn{
    background-color: #9fa9a3;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
    transition: all 1s;
}

.btn:hover{
    padding: 2.5rem;
    width: 90%;
    font-size: 2.5rem;
}

.btn a{
    color: black;
}

.author{
    display: block;
    margin-top: 2rem;
}


.big_post{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* Small posts */

.small_posts{
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
}

.post:hover{
    background-color: #f0f0f0;
    transition: all 1s;
}

.post a:hover{
    text-decoration: underline;
    transition: all 1s;
}

.image_container{
    width: 35%;
    padding: 1rem;
}

.mobile_image_container {
    display: none;
}

.post_content{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.post_content *{
    width: 85%;
    margin: 0.75rem 0;
}

.post_content span{
    font-size: 1.25rem;
}

.post_content a{
    color: blue;
    font-size: 1.5rem;
}

.post:last-child{
    background-color: #b2c2bf;
}

.post:last-child:hover{
        background-color: #f0f0f0;
        transition: all 1s;
}

.post:last-child a:hover{
    text-decoration: underline;
    transition: all 1s;
}

/* Courses section */

.courses_mobile{
    display: none;
}

.courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b2c2bf;
}

  .image-container {
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
  }

  #features-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 3.5rem 0px 3.5rem;
    text-align: center;
  }
  
  .feature {
    margin: 0px 1rem 2rem 1rem;
    background-color: white;
    max-width: 30%;
  }


.feature:hover{
    background-color: #f0f0f0;
    transition: all 1s;
    
}

  .feature span{
    font-size: 1.25rem;
}
  
  .feature .image-container {
    margin: 0 auto;
  }
  
  .description{
      display: block;
  }

.content .uppercase{
    padding: 1rem;
}

.feature .content{
    margin: 1rem;
}

#thesis{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thesis_content{
    display: flex;
}

.thesis_content h3{
    margin: 1.5rem 0;
}

.feature .description{
    margin-top: 0.5rem;
}

span{
    display: block;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 5rem;
    font-size: 1rem;
    background-color: #b2c2bf;
}

footer a{
    margin-left: 0.5rem;
}

@media only screen and (max-width: 760px) {
    .desktop_nav{
        display:none;
    }
    .logo{
        display: none;
    }

    .mobile_nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .banner{
        padding: 0;
        margin: 0;
    }
    .banner{
        display:flex;
        flex-direction: column;
    }
    .sixty{
        width: 100%;
        margin: 0;
    }
    .forty{
        width: 100%;
        margin: 0;
    }
    .slogan{
        width: 100%;
        padding: 2rem 1rem;
    }
    .btn{
        width: 100%;
    }
    .start{
        display: none;
    }
    .post{
        flex-direction: column;
    }

    .image_container{
        display: none;
    }

    .mobile_image_container{
        display: block;
        width: 100%;
    }

    .post_content{
        padding: 4rem 2rem;
    }

.post_content a{
    text-decoration: underline;
}

    .post:last-child{
        background-color: white;
    }

    .courses{
        display: none;
    }

    .courses_mobile{
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
        text-align: center;
    }

    .courses_mobile h2{
        margin-bottom: 2rem;
    }

    .mobile_course_section{
        display: flex;
        flex-direction: column;
    }

    .mobile_course{
        background-color: lightgray;
        width: 100%;
        text-align: center;
        padding: 1rem;
        margin: 0.5rem auto;
    }

    #thesis .small_posts{
        display: none;
    }

    #thesis .big_post h3, #thesis .big_post p{
        display: none;
    }

    #thesis h2{
        margin-bottom: 2rem;
    }

    #thesis{
        margin-bottom: 1.5rem;
    }
  }